port: 3000

database:
  type: postgres
  host: postgres-news-api
  port: 5432
  username: postgres
  password: postgres
  database: 'news'
  autoLoadEntities: true
  synchronize: true
  cache: true

auth:
  passHashRounds: 10
  jwt:
    secret: 'secretKey'
    signOptions:
      expiresIn: '10m'

env: dev




